.box{
    padding-bottom:10px;
    background:#e9f0fa;
    border: 5px dotted #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.box p{
    height:150px;
    color:#f24118;
    border-bottom: 2px solid #000;
}

.box span{
   color:#412d39;
   font-size:20px;
   font-weight:bold;
   font-style:italic;
   text-align:justify;
   text-justify:inter-word;
   padding-bottom:10px;
}

